autopep8
cvxpy
geopandas
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
keras
lightgbm
line_profiler
matplotlib
memory_profiler
openpyxl
pandas
pytest
scikit-learn
scikit-surprise
seaborn
shap
shapely
xlrd
xlwt
requests
pylint
