cvutils
gdown
graphviz
gym
ipython
jupyter
lxml
matplotlib
mock
nltk
numpy
pandas
patsy
pygments
pytest
pytest-dependency
pytest-cov
pyyaml
requests
scikit-image
scikit-learn
scipy
seaborn
statsmodels
tensorflow
theano
xgboost
xlrd
