autopep8
cvutils
cvxpy
gdown
geopandas
graphviz
gym
img2pdf
ipython
jupyter
keras
lightgbm
line_profiler
lxml
matplotlib
memory_profiler
mock
nbconvert
nltk
numpy
openpyxl
pandas
patsy
pikepdf
pygments
pylint
pytest
pytest-cov
pytest-dependency
pyyaml
requests
scikit-image
scikit-learn
scikit-surprise
scipy
seaborn
shap
shapely
statsmodels
# tensorflow
theano
xgboost
xlrd
xlwt

# temporarily commented, until it will be fixed
# orange3
# PyQt5.sip  # required for Orange, but the latest versions are not stable
# pyqt5==5.14.0  # required for Orange, but the latest versions are not stable
