autopep8
cvutils
cvxpy
gdown
geopandas
graphviz
gym
ipython
jupyter
keras
lightgbm
line_profiler
lxml
matplotlib
memory_profiler
mock
nbconvert
nltk
numpy
openpyxl
orange3
pandas
patsy
pygments
pylint
pytest
pytest-cov
pytest-dependency
pyyaml
requests
scikit-image
scikit-learn
scikit-surprise
scipy
seaborn
shap
shapely
statsmodels
tensorflow
theano
xgboost
xlrd
xlwt
